<app-template-header></app-template-header>

<div class="list-view">
    <h4 (click)="showOpen = !showOpen">
        Open <span>( {{ todos.length }} )</span>
    </h4>
    <div *ngIf="showOpen" class="todo-elements">
        <app-template-todo (ping)="update($event)" [todo]="todo" *ngFor="let todo of todos"></app-template-todo>
    </div>

    <app-template-todo-form (ping)="update($event)" *ngIf="showOpen"></app-template-todo-form>

    <h4 (click)="showDone = !showDone">
        Done <span>( {{ this.todosDone.length }} )</span>
    </h4>
    <div *ngIf="showDone" class="todo-elements">
        <app-template-todo
            (ping)="update($event)"
            [todo]="todoDone"
            *ngFor="let todoDone of todosDone"
        ></app-template-todo>
    </div>
</div>
