<div class="todo">
    <div class="todo-content">
        <div class="handle">
            <img src="./assets/icons/drag-indicator.svg">
        </div>
        <div class="todo-content-check">
            <img src="./assets/icons/check-box.svg">
            <img src="./assets/icons/check-box-checked.svg">
        </div>
        <div class="todo-content-text">
            <input type="text" placeholder="Placeholder"/>
        </div>
    </div>
    <div class="delete">
        <span>Delete</span>
    </div>
</div>