@import '../../../sass/var';

.todo {
    width: 100%;
    background-color: $white;
    margin: 0 0 $cube 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

    .todo-content {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;

        .handle {
            background-color: $prime;
            height: 100%;
            display: flex;
            flex-flow: row;
            padding: 0 $cube 0 $cube;
            justify-content: center;
            align-items: center;
            cursor: grab;

            img {
                width: $cube*2;
                height: $cube*2;
            }
        }

        .todo-content-check {
            display: flex;
            margin: $cube*2;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: $cube*2;
                height: $cube*2;
            }
        }

        .todo-content-text {
            width: 100%;

            input {
                font-family: $font2;
                font-size: $cube*2;
                padding: $cube*2;
                color: $cube*2;
                width: 100%;
                border: none;
                word-break: break-word;

                &::placeholder {
                    opacity: 0.5;
                    font-style: italic;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .delete {
        background-color: $red;
        color: $white;
        font-family: $font2;
        font-size: $cube*2;
        padding: $cube*2;
        cursor: pointer;

        span {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row; 
            align-items: center;
            justify-content: center;
        }
    }
}

.todo.done {
    .todo-content {
        .handle {
            display: none;
        }
        .todo-content-text {
            input {
                opacity: 0.3;
                text-decoration: line-through;
            }
        }
    }
}